@charset "UTF-8";
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #515151;
}

input {
  outline: none;
}

ul, li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

body {
  color: #666666;
  font: 12px/150% Arial,Verdana,"宋体";
}

#toppromo {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#toppromo .banner {
  background: url(../img/1f290dcf5ee964a7fee28b8e5ce5e9f3.jpg) center top no-repeat;
  display: block;
  width: 100%;
  height: 80px;
  text-align: center;
}
#toppromo .banner .topclose {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: 575px;
  width: 25px;
  height: 16px;
  background: url(../img/topclose.png) no-repeat center center;
  cursor: pointer;
  text-indent: -9999px;
}
#toppromo .topshow {
  background: url(../img/6471c3b1410415098211dbf21f329180.jpg) center top no-repeat;
  width: 100%;
  height: 450px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
}

#topMenu {
  width: 100%;
  height: 33px;
  text-align: center;
  position: relative;
  z-index: 101;
  padding: 0px;
  background: #f7f7f7;
  border-bottom: 1px solid #eeeeee;
}
#topMenu .pw {
  width: 1200px;
  margin: auto;
}
#topMenu .pw .left {
  float: left;
}
#topMenu .pw .left .d1 {
  color: #969696;
  float: left;
  position: relative;
  line-height: 33px;
}
#topMenu .pw .left .d6 {
  float: left;
  position: relative;
  line-height: 33px;
  display: block;
}
#topMenu .pw .left .d6:hover {
  background-color: #fff;
}
#topMenu .pw .left .d6:hover .dd1 {
  display: block;
}
#topMenu .pw .left .d6 .pshort {
  width: 50px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #DCDCDC;
  margin: 6px 0 0 0;
  overflow: hidden;
  cursor: pointer;
}
#topMenu .pw .left .d6 .pshort:hover b {
  transform: rotate(180deg);
}
#topMenu .pw .left .d6 .pshort:hover .city {
  background: #fff;
}
#topMenu .pw .left .d6 .pshort .city {
  margin: 0 0 0 5px;
  width: 30px;
  height: 20px;
  overflow: hidden;
  display: block;
  color: #333333;
  line-height: 20px;
}
#topMenu .pw .left .d6 .pshort b {
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  position: absolute;
  top: 15px;
  right: 5px;
}
#topMenu .pw .left .d6 .pshort .outline1 {
  z-index: 1;
  left: 6px;
  width: 50px;
  height: 8px;
  top: 24px;
  border: 0 none;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
}
#topMenu .pw .left .d6 .pshort .blank {
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  width: 50px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
}
#topMenu .pw .left .d6 .dd1 {
  display: none;
  width: 438px;
  border: 1px solid #DCDCDC;
  text-align: left;
  margin: 0;
  position: absolute;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .left .d6 .dd1 .top {
  margin: 5px 10px 5px 10px;
  height: 30px;
  border-bottom: 1px solid #DCDCDC;
  line-height: 30px;
}
#topMenu .pw .left .d6 .dd1 .top span {
  float: left;
  color: #969696;
  line-height: 30px;
}
#topMenu .pw .left .d6 .dd1 .top .off {
  float: right;
  background: url(../img/index_icon_new.png) -245px -33px no-repeat;
  width: 18px;
  height: 18px;
  margin: 5px 0 0 0;
  cursor: pointer;
}
#topMenu .pw .left .d6 .dd1 .middle {
  margin: 0px 10px 5px 10px;
  line-height: 33px;
}
#topMenu .pw .left .d6 .dd1 .middle ul li {
  width: 38px;
  float: left;
  position: relative;
  line-height: 33px;
}
#topMenu .pw .left .d6 .dd1 .middle ul li a {
  color: #0099FF;
}
#topMenu .pw .left .d6 .dd1 .clear {
  clear: both;
  padding: 0px;
  font-size: 0px;
  margin: 0px;
  height: 0px;
  line-height: 0;
  overflow: hidden;
  display: block;
}
#topMenu .pw .left .d6 .dd1 .bottom {
  margin: 5px 10px 15px 10px;
  color: #969696;
}
#topMenu .pw .left .d6 .dd1 .bottom .quyu {
  float: left;
  height: 25px;
  line-height: 25px;
  color: #969696;
}
#topMenu .pw .left .d6 .dd1 .bottom .huadong {
  float: left;
  width: 360px;
}
#topMenu .pw .left .d6 .dd1 .bottom .huadong li {
  width: 40px;
  text-align: center;
  height: 25px;
  line-height: 22px;
  cursor: pointer;
  color: #333333;
  float: left;
  position: relative;
}
#topMenu .pw .right {
  float: right;
}
#topMenu .pw .right li {
  float: left;
  position: relative;
  line-height: 33px;
}
#topMenu .pw .right .login {
  color: #999999;
  padding: 0 10px;
}
#topMenu .pw .right .login a {
  color: #969696;
}
#topMenu .pw .right .login .newregbox {
  position: relative;
  display: inline-block;
}
#topMenu .pw .right .login .newregbox a {
  color: #969696;
}
#topMenu .pw .right .login .newregbox .ad {
  cursor: pointer;
  width: 292px;
  height: 34px;
  text-align: center;
  position: absolute;
  top: 25px;
  left: -146px;
  padding-left: 22px;
}
#topMenu .pw .right .login .newregbox .ad .up {
  display: inline-block;
  width: 11px;
  height: 7px;
  background: url(../img/regicon-top.png) left top;
  position: absolute;
  top: 0;
  left: 165px;
}
#topMenu .pw .right .login .newregbox .ad .newregTips {
  display: inline-block;
  margin-top: 7px;
}
#topMenu .pw .right .login .newregbox .ad .newregTips em {
  color: #fff;
  font-size: 12px;
  height: 22px;
  float: left;
  padding: 0 8px;
  min-width: 60px;
  text-align: left;
  overflow: hidden;
  background: #f14431;
  border-radius: 10px;
  line-height: 22px;
}
#topMenu .pw .right .myOrder {
  padding: 0 10px;
}
#topMenu .pw .right .myOrder a {
  color: #969696;
}
#topMenu .pw .right .menu {
  padding: 0 10px 0 10px;
  width: 60px;
  cursor: default;
  margin: 6px 0 0 0;
  line-height: 22px;
  height: 26px;
}
#topMenu .pw .right .menu:hover b {
  transform: rotate(180deg);
}
#topMenu .pw .right .menu:hover .dd {
  display: block;
}
#topMenu .pw .right .menu a {
  color: #969696;
}
#topMenu .pw .right .menu b {
  position: absolute;
  right: 5px;
  top: 8px;
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  overflow: hidden;
}
#topMenu .pw .right .menu .outline {
  z-index: 1;
  left: 6px;
  width: 78px;
  height: 8px;
  top: 22px;
  border: 0 none;
  overflow: hidden;
  background-color: white;
  display: none;
  position: absolute;
}
#topMenu .pw .right .menu .blank {
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
}
#topMenu .pw .right .menu .dd {
  margin-left: 5px;
  line-height: 22px;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  top: 25px;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .tshow {
  padding: 0 10px 0 28px;
}
#topMenu .pw .right .tshow:hover .dd {
  display: block;
}
#topMenu .pw .right .tshow:hover q {
  background: url(../img/header.png) no-repeat -73px -138px;
}
#topMenu .pw .right .tshow q {
  background: url(../img/header.png) no-repeat -73px -122px;
  width: 10px;
  left: 10px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  height: 16px;
  position: absolute;
  top: 9px;
  quotes: none;
}
#topMenu .pw .right .tshow a {
  color: #969696;
}
#topMenu .pw .right .tshow .dd {
  display: none;
  top: 32px;
  width: 230px;
  left: -50px;
  padding: 15px 0 0 0;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .tshow .dd .sf-client {
  margin-bottom: 10px;
  margin-left: 15px;
  position: relative;
  text-align: left;
}
#topMenu .pw .right .tshow .dd .sf-client span {
  width: 73px;
  height: 74px;
  overflow: hidden;
  background: url(../img/header.png) no-repeat 0 -93px;
  display: block;
}
#topMenu .pw .right .tshow .dd .sf-client i {
  position: absolute;
  width: 50px;
  height: 29px;
  left: 80px;
  top: 5px;
  background: url(../img/header.png) no-repeat -73px -93px;
  display: block;
}
#topMenu .pw .right .tshow .dd .sf-client .client-txt {
  position: absolute;
  left: 95px;
  top: 34px;
}
#topMenu .pw .right .tshow .dd .sf-client .client-txt em {
  display: block;
  line-height: 20px;
}
#topMenu .pw .right .tshow .dd .sf-client .client-txt b {
  color: #76ac25;
  line-height: 20px;
}
#topMenu .pw .right .tshow .dd .app-btn {
  font-size: 0;
  height: 29px;
  margin: 0 0 10px 15px;
}
#topMenu .pw .right .tshow .dd .app-btn .app-apple {
  float: left;
  display: block;
  width: 96px;
  height: 29px;
  background: url(../img/header.png) no-repeat 0 -167px;
  margin-right: 5px;
}
#topMenu .pw .right .tshow .dd .app-btn .app-android {
  float: left;
  display: block;
  width: 96px;
  height: 29px;
  background: url(../img/header.png) no-repeat 0 -196px;
}
#topMenu .pw .right .tshow .dd .client-promo {
  height: 30px;
  background: url(../img/indexImg20130307.png) no-repeat -182px -210px #fcfbe4;
  text-align: center;
  color: #fa6400;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
#topMenu .pw .right .tshow .dd .client-promo a {
  color: #fa6400;
}
#topMenu .pw .right .tshow .dd .corner {
  left: 45px;
  display: none;
  width: 8px;
  height: 15px;
  position: absolute;
  top: 25px;
  z-index: 2;
}
#topMenu .pw .right .tshow .dd .corner .aBg {
  border-left: 8px dashed rgba(0, 0, 0, 0);
  border-right: 8px dashed rgba(0, 0, 0, 0);
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  width: 0;
}
#topMenu .pw .right .tshow .dd .corner .aCt {
  border-left: 8px dashed rgba(0, 0, 0, 0);
  border-right: 8px dashed rgba(0, 0, 0, 0);
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  width: 0;
  border-bottom: 8px solid #ffffff;
  position: relative;
  border-top: 0 none;
  margin: -7px 0 0 0px;
}
#topMenu .pw .right .help {
  padding: 0 10px 0 10px;
  width: 60px;
  height: 27px;
  cursor: default;
  margin: 6px 0 0 0;
  line-height: 22px;
}
#topMenu .pw .right .help:hover b {
  transform: rotate(180deg);
}
#topMenu .pw .right .help:hover .dd {
  display: block;
}
#topMenu .pw .right .help a {
  color: #969696;
}
#topMenu .pw .right .help b {
  position: absolute;
  right: 5px;
  top: 8px;
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  overflow: hidden;
}
#topMenu .pw .right .help .outline {
  z-index: 1;
  left: 6px;
  width: 78px;
  height: 8px;
  top: 22px;
  border: 0 none;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
}
#topMenu .pw .right .help .blank {
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
}
#topMenu .pw .right .help .dd {
  margin-left: 5px;
  line-height: 22px;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  top: 28px;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .help .dd a {
  color: #969696;
}
#topMenu .pw .right .allCat {
  padding: 0 15px;
  cursor: default;
  margin: 6px 0 0 0;
  height: 29px;
  line-height: 22px;
}
#topMenu .pw .right .allCat:hover s {
  transform: rotate(180deg);
}
#topMenu .pw .right .allCat:hover .dd {
  display: block;
}
#topMenu .pw .right .allCat em {
  color: #969696;
}
#topMenu .pw .right .allCat s {
  position: absolute;
  right: 0;
  top: 8px;
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  overflow: hidden;
  text-decoration: line-through;
  cursor: default;
  line-height: 22px;
}
#topMenu .pw .right .allCat .outline {
  width: 81px;
  z-index: 1;
  left: 6px;
  height: 8px;
  top: 22px;
  border: 0 none;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
}
#topMenu .pw .right .allCat .blank {
  width: 81px;
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  box-shadow: 0 0 5px #dadada;
}
#topMenu .pw .right .allCat .dd {
  top: 28px;
  width: 815px;
  right: 0;
  margin-right: -10px;
  left: auto;
  padding-top: 10px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .allCat .dd dl {
  float: left;
  width: 200px;
  padding: 15px 19px 0 20px;
  text-align: left;
  margin-bottom: 10px;
}
#topMenu .pw .right .allCat .dd dl dt {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Microsoft Yahei;
}
#topMenu .pw .right .allCat .dd dl .dh2 {
  color: #FA6400;
}
#topMenu .pw .right .allCat .dd dl .dh {
  color: #669900;
}
#topMenu .pw .right .allCat .dd dl .dh3 {
  color: #646464;
}
#topMenu .pw .right .allCat .dd dl dd {
  line-height: 20px;
  height: 100px;
  display: block;
  margin-inline-start: 40px;
}
#topMenu .pw .right .allCat .dd dl dd p {
  width: 100%;
  float: left;
}
#topMenu .pw .right .allCat .dd dl dd a {
  display: block;
  width: 65px;
  float: left;
  line-height: 30px;
  color: #666666;
}
#topMenu .pw .right .allCat .dd .line {
  background: url(../img/line.jpg) center repeat-y;
  height: 90px;
  width: 5px;
  margin: 20px 0 0 0;
}
#topMenu .pw .right .d3 {
  width: 30px;
  height: 30px;
}
#topMenu .pw .right .d3 a {
  color: #969696;
}
#topMenu .pw .right .d3 a q {
  background: url(../img/header.png) no-repeat -55px 0;
  width: 19px;
  left: 12px;
  cursor: pointer;
  quotes: none;
  height: 16px;
  position: absolute;
  top: 9px;
}
#topMenu .pw .right .d4 {
  width: 30px;
  height: 30px;
}
#topMenu .pw .right .d4 q {
  background: url(../img/header.png) no-repeat -74px 0;
  width: 17px;
  left: 8px;
  quotes: none;
  height: 16px;
  position: absolute;
  top: 9px;
}

#header {
  padding: 0;
  height: 104px;
  width: 1200px;
  margin: 0 auto;
}
#header .inner {
  width: 1200px;
  margin: auto;
  position: relative;
  z-index: 31;
}
#header .inner .logo {
  width: 240px;
  margin: 0px;
  float: left;
  padding: 5px 0px 0px 0px;
  position: relative;
}
#header .inner .logo img {
  height: 69px;
  width: 220px;
  border: 0;
}
#header .inner .search {
  position: absolute;
  width: 514px;
  margin: 0px;
  padding: 0px;
  right: 248px;
  top: 28px;
}
#header .inner .search .input {
  border: 1px solid #669900;
  width: 425px;
  height: 34px;
  padding: 0 0 0 4px;
  vertical-align: middle;
  float: left;
  color: #999999;
  outline: none;
}
#header .inner .search .button {
  margin: 0px;
  height: 36px;
  width: 80px;
  cursor: pointer;
  float: left;
  vertical-align: middle;
  border: 0;
  background: url(../img/header.png) no-repeat -99px -179px;
  color: #FFF;
  outline: none;
}
#header .inner .search .hot {
  clear: both;
  text-align: left;
  padding: 4px 0px 0px 0px;
}
#header .inner .search .hot a {
  margin: 0px 8px 0px 0px;
  color: #979797;
}
#header .inner .shopingcar {
  width: 146px;
  padding-left: 48px;
  position: absolute;
  top: 28px;
  right: 0px;
  height: 33px;
  border: 1px solid #efefef;
  line-height: 33px;
  font-size: 12px;
}
#header .inner .shopingcar:hover .shoplist {
  display: block;
}
#header .inner .shopingcar .setCart {
  background: url(../img/header.png) no-repeat -102px -235px;
  margin: 2px 0 0 0;
  width: 23px;
  height: 21px;
  left: 17px;
  position: absolute;
  top: 4px;
}
#header .inner .shopingcar a {
  color: #666;
}
#header .inner .shopingcar .carnum {
  position: absolute;
  top: -1px;
  left: 154px;
  width: 40px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background-color: #fa9600;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
#header .inner .shopingcar .shoplist {
  display: none;
  width: 360px;
  position: absolute;
  right: -1px;
  box-shadow: 0 0 5px #dadada;
  top: 34px;
}
#header .inner .shopingcar .shoplist .content {
  padding: 10px;
  width: 340px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
#header .inner .shopingcar .shoplist .content .content1 {
  padding: 10px 0;
}
#header .inner .shopingcar .shoplist .content .content1 .pro {
  width: 240px;
  height: 42px;
  margin: 0 0 0 85px;
  background: url(../img/header.png) no-repeat -99px -123px;
}
#header .inner .shopingcar .shoplist .content .content1 .pro p {
  padding-left: 50px;
}

#mainNav {
  width: 100%;
  height: 32px;
  border-bottom: 2px solid #679800;
}
#mainNav .menu {
  margin: 0px auto;
  color: #303437;
  padding: 0;
  width: 1200px;
  clear: both;
}
#mainNav .menu .categories {
  float: left;
  width: 200px;
  background: #76ac25;
  height: 34px;
  text-align: left;
  position: relative;
  z-index: 2;
}
#mainNav .menu .categories .dt {
  height: 34px;
  overflow: hidden;
  background: url(../img/cate_bg.jpg);
}
#mainNav .menu .categories .dt a {
  height: 32px;
  line-height: 32px;
  display: block;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  width: 200px;
  text-align: center;
  text-decoration: none;
}
#mainNav .menu .categories .dd {
  margin: 0;
  z-index: 1;
  padding: 0;
  width: 200px;
  height: 480px;
  position: absolute;
  background-color: #76ac25;
}
#mainNav .menu .categories .dd .book {
  padding-top: 8px;
  padding-left: 15px;
}
#mainNav .menu .categories .dd .book .item {
  height: 58px;
}
#mainNav .menu .categories .dd .book .item .i-master {
  display: block;
  height: 54px;
  padding-left: 15px;
  font-family: Microsoft YaHei;
}
#mainNav .menu .categories .dd .book .item .i-master h3 {
  font-weight: normal;
  font-size: 14px;
  padding-top: 5px;
  line-height: 22px;
}
#mainNav .menu .categories .dd .book .item .i-master h3 .fresh {
  background: url(../img/left_lm_m_a.png) no-repeat 0 5px;
  width: 16px;
  height: 22px;
  margin-left: -20px;
  float: left;
}
#mainNav .menu .categories .dd .book .item .i-master h3 .track {
  color: white;
  margin-left: 2px;
}
#mainNav .menu .categories .dd .book .item .i-master .subCat {
  font-size: 12px;
  overflow: hidden;
  line-height: 20px;
  height: 20px;
}
#mainNav .menu .categories .dd .book .item .i-master .subCat li {
  float: left;
  margin-right: 8px;
}
#mainNav .menu .categories .dd .book .item .i-master .subCat li a {
  color: #ddeac8;
  margin-left: 2px;
}
#mainNav .menu .categories .dd .book .item .i-master s {
  position: absolute;
  width: 11px;
  height: 54px;
  background-color: white;
  left: 190px;
  z-index: 1000;
  display: none;
  margin-top: -47px;
}
#mainNav .menu .categories .dd .book .item .i-cm {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  width: 560px;
  height: 480px;
  background: #ffffff;
  z-index: 999;
  filter: alpha(opacity=98);
  opacity: 0.98;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left {
  float: left;
  width: 542px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort {
  width: 542px;
  height: 248px;
  padding: 8px 0 24px 10px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl {
  overflow: hidden;
  zoom: 1;
  font-family: Microsoft YaHei;
  padding: 1px 0 0 0;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dt {
  width: 80px;
  padding-right: 10px;
  float: left;
  text-align: right;
  height: 18px;
  line-height: 18px;
  margin: 4px 0px;
  color: #76ac25;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dt a {
  color: #76ac25;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dd {
  overflow: hidden;
  zoom: 1;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dd a {
  float: left;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin: 4px 1px;
  text-align: left;
  padding: 0px 6px;
  border-left: 1px solid #ccc;
  color: #666;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .img img {
  width: 560px;
  height: 200px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-right {
  float: right;
  width: 205px;
  height: 506px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-right span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 6px;
  right: 6px;
  background: url(../img/index_icon_new.png) no-repeat -245px -1px;
  cursor: pointer;
}
#mainNav .menu .menu1 {
  width: 1000px;
  float: right;
  position: relative;
}
#mainNav .menu .menu1 ul {
  width: 1000px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
}
#mainNav .menu .menu1 ul li {
  float: left;
  text-align: center;
  color: #303437;
}
#mainNav .menu .menu1 ul li a {
  padding: 0 24px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 32px;
  font-family: Microsoft YaHei;
  color: #333;
  font-weight: 700;
}
#mainNav .menu .menu1 ul li .g {
  color: #669900;
}
#mainNav .menu .menu1 ul .ad {
  float: right;
  width: 196px;
  height: 32px;
  overflow: hidden;
}
#mainNav .menu .menu1 ul .ad img {
  width: 196px;
  height: 32px;
}

#lbbox {
  width: 100%;
  height: 480px;
  position: relative;
}
#lbbox .index {
  width: 1200px;
  margin: 0 auto;
  height: 480px;
}
#lbbox .index .wrap {
  height: 480px;
  width: 1000px;
  position: relative;
  overflow: hidden;
  margin-left: 200px;
}
#lbbox .index .wrap img {
  width: 1000px;
  height: 480px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}
#lbbox .index ol {
  display: block;
  margin-left: -165px;
  position: absolute;
  left: 50%;
  bottom: 10px;
}
#lbbox .index ol li {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  background-color: #646464;
  text-align: center;
  line-height: 25px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#lbbox .index ol .active {
  background-color: #FA9600;
}
#lbbox .index dl {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 480px;
  overflow: hidden;
}
#lbbox .index dl dd {
  height: 480px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}
#lbbox .ad {
  width: 260px;
  height: 185px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
#lbbox .ad2 {
  width: 260px;
  height: 130px;
  position: absolute;
  right: 0;
  top: 185px;
}
#lbbox .ad3 {
  width: 260px;
  height: 130px;
  position: absolute;
  right: 0;
  top: 315px;
}

#buy {
  margin-top: 35px;
  line-height: 0;
  width: 1200px;
  height: 545px;
  margin: 35px auto;
}
#buy .bestbuy {
  float: right;
  width: 1190px;
}
#buy .bestbuy .bleft {
  width: 945px;
  float: left;
  overflow: hidden;
  display: block;
}
#buy .bestbuy .bleft h2 {
  color: #333333;
  font-weight: normal;
  font-size: 18px;
  font-family: Microsoft YaHei;
  padding: 0 0 12px 3px;
}
#buy .bestbuy .bleft h2 span {
  margin: 0 0 0 15px;
  overflow: hidden;
  background: url(../img/index_icon_new.png) no-repeat -29px -333px;
  height: 14px;
  width: 118px;
  display: inline-block;
}
#buy .bestbuy .bleft .bbig {
  border-left: 1px solid #e8e8e8;
  float: left;
  display: block;
  width: 944px;
  border-top: 1px solid #e8e8e8;
  height: 519px;
}
#buy .bestbuy .bleft .bbig li {
  position: relative;
  height: 258px;
  float: left;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  width: 235px;
}
#buy .bestbuy .bleft .bbig li a {
  font-size: 14px;
  color: #323232;
  display: inline-block;
  margin-left: 12px;
  height: 14px;
  overflow: hidden;
  font-family: 微软雅黑;
  padding-top: 10px;
  line-height: 14px;
}
#buy .bestbuy .bleft .bbig li .price {
  font-size: 16px;
  color: #f33f00;
  height: 16px;
  padding-top: 10px;
  font-family: 微软雅黑;
  margin-left: 12px;
  line-height: 16px;
  overflow: hidden;
  font-weight: bold;
}
#buy .bestbuy .bleft .bbig li .price span i {
  font-style: normal;
  font-size: 12px;
}
#buy .bestbuy .bleft .bbig li .img {
  width: 204px;
  height: 204px;
  float: right;
  margin-top: 4px;
  background-color: #fff;
}
#buy .bestbuy .bleft .bbig li .btn {
  top: 225px;
  position: absolute;
  width: 160px;
  height: 24px;
  border-radius: 2px;
  background: #76ac25;
  opacity: 0.95;
  cursor: pointer;
  margin-left: 38px;
  left: 0;
  display: none;
}
#buy .bestbuy .bleft .bbig li .btn a {
  margin: 0 auto;
  width: 60px;
  height: 24px;
  line-height: 7px;
  display: block;
  background: url(../img/indexsprite.png) no-repeat -66px -177px;
  font-family: Microsoft YaHei;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}
#buy .bestbuy .bright {
  margin-top: 26px;
  float: right;
  border: 1px solid #E8E8E8;
  width: 222px;
  height: 517px;
  overflow: hidden;
  font-family: Microsoft YaHei;
}
#buy .bestbuy .bright .rimg {
  height: 300px;
  width: 222px;
  text-align: center;
  overflow: hidden;
}
#buy .bestbuy .bright .rimg img {
  height: 300px;
  width: 220px;
}
#buy .bestbuy .bright .news {
  margin: 0 auto;
  width: 202px;
  overflow: hidden;
}
#buy .bestbuy .bright .news .title {
  border-bottom: 1px dotted #DBDBDB;
  overflow: hidden;
  padding: 15px 0 10px 0;
  line-height: 14px;
  overflow: hidden;
  height: 14px;
}
#buy .bestbuy .bright .news .title h2 {
  color: #323232;
  font-size: 14px;
  font-family: Microsoft YaHei;
  float: left;
  font-weight: normal;
  padding: 0;
}
#buy .bestbuy .bright .news .title a {
  float: right;
  display: block;
  padding-top: 2px;
  color: #969696;
}
#buy .bestbuy .bright .news ul {
  margin: 8px auto;
  height: 156px;
  overflow: hidden;
}
#buy .bestbuy .bright .news ul li {
  line-height: 26px;
  height: 26px;
  overflow: hidden;
}
#buy .bestbuy .bright .news ul li a {
  color: #FA6400;
}

#mad {
  width: 1190px;
  padding-left: 10px;
  text-align: right;
  margin-top: 30px;
  margin: 0 auto;
}
#mad img {
  width: 1190px;
  height: 100px;
}

.indexW {
  margin-top: 30px;
  width: 1200px;
  height: 470px;
  margin: 30px auto;
}
.indexW .category {
  float: left;
  width: 250px;
  overflow: hidden;
}
.indexW .category .left {
  width: 240px;
  height: 50px;
  float: right;
  color: #FFF;
}
.indexW .category .left li {
  height: 50px;
  line-height: 50px;
}
.indexW .category .left li .dir {
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(../img/index_icon_new.png) no-repeat -140px -68px;
}
.indexW .category .left li h2 {
  font-weight: normal;
  font-size: 16px;
}
.indexW .category .left li h2 em {
  background: url(../img/index_icon_new.png) no-repeat -97px -295px;
  width: 15px;
  height: 16px;
  float: left;
  margin: 16px 8px 0 75px;
}
.indexW .category .left li h2 a {
  color: #FFF;
}
.indexW .category .titlebgc1 {
  background: #76AC25;
}
.indexW .category .titlebgc2 {
  background: #fa648c;
}
.indexW .category .titlebgc3 {
  background: #ff6c00;
}
.indexW .category .Icon {
  width: 250px;
  height: 420px;
  overflow: hidden;
}
.indexW .category .Icon img {
  width: 250px;
  height: 420px;
}
.indexW .sfright {
  float: left;
  width: 950px;
  position: relative;
}
.indexW .sfright .subCont {
  padding: 7px 10px 9px 10px;
  width: 710px;
  border-bottom: 1px solid #F4F4F4;
  float: left;
}
.indexW .sfright .subCont .pList {
  zoom: 1;
}
.indexW .sfright .subCont .pList li {
  width: 160px;
  padding: 8px;
  float: left;
  position: relative;
}
.indexW .sfright .subCont .pList li .box {
  margin-bottom: 10px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.indexW .sfright .subCont .pList li .box img {
  width: 160px;
  height: 160px;
  position: absolute;
}
.indexW .sfright .subCont .pList li .title {
  height: 18px;
  line-height: 18px;
  overflow: hidden;
}
.indexW .sfright .subCont .pList li .title a {
  color: #666666;
}
.indexW .sfright .subCont .pList li .price {
  font-size: 14px;
  margin-left: 0;
  padding-top: 6px;
  color: #f33f00;
  height: 16px;
  font-family: 微软雅黑;
  line-height: 16px;
  overflow: hidden;
  font-weight: bold;
}
.indexW .sfright .subCont .pList li .price i {
  font-style: normal;
  font-size: 12px;
}
.indexW .sfright .subCont .pList li .btno {
  top: 145px;
  position: absolute;
  width: 160px;
  height: 24px;
  border-radius: 2px;
  background: #76ac25;
  opacity: 0.95;
  cursor: pointer;
  margin-left: 38px;
  left: -30px;
  display: none;
}
.indexW .sfright .subCont .pList li .btno a {
  margin: 0 auto;
  width: 60px;
  height: 24px;
  line-height: 24px;
  display: block;
  background: url(../img/indexsprite.png) no-repeat -66px -177px;
  font-family: Microsoft YaHei;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}
.indexW .sfright .edg {
  width: 220px;
  height: 469px;
  float: left;
  background: #f4f4f4;
  overflow: hidden;
}
.indexW .sfright .edg .hot {
  margin: 25px 0 0 15px;
  height: 189px;
  overflow: hidden;
}
.indexW .sfright .edg .hot li {
  margin: 4px;
  width: 55px;
  height: 55px;
  background: url(../img/index_icon_new.png) no-repeat;
  text-align: center;
  line-height: 55px;
  float: left;
}
.indexW .sfright .edg .hot li:hover {
  background: url(../img/index_icon_new.png) no-repeat 0 -61px;
}
.indexW .sfright .edg .hot li a {
  color: #333333;
  height: 55px;
  width: 55px;
  display: block;
  font-size: 12px;
  overflow: hidden;
}
.indexW .sfright .edg .hot li a:hover {
  color: #fff;
}
.indexW .sfright .edg .rimg {
  margin-top: 25px;
  cursor: pointer;
}
.indexW .sfright .edg .rimg img {
  width: 220px;
  height: 230px;
}
.indexW .sfright .edg .btn {
  margin: -166px 0 0 15px;
  background: url(../img/index_icon_new.png) no-repeat -204px 0px;
  width: 25px;
  height: 25px;
  position: relative;
}
.indexW .sfright .edg .btn a {
  width: 25px;
  height: 25px;
  display: block;
}
.indexW .green {
  border-top: 1px solid #adcd7c;
}
.indexW .pink {
  border-top: 1px solid #fca2ba;
}
.indexW .orange {
  border-top: 1px solid #ffa766;
}

#tui {
  border: #f5f5f5 1px solid;
  padding: 15px 14px;
  width: 1170px;
  height: 1228px;
  margin-top: 46px;
  position: relative;
  margin: 46px auto;
  font-family: 微软雅黑;
}
#tui .top {
  width: 116px;
  height: 23px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -58px;
  background: #fff;
  text-align: center;
}
#tui .top i {
  width: 97px;
  height: 23px;
  display: inline-block;
  background: url(../img/sf_new_bg.png) left top no-repeat;
}
#tui .llist {
  zoom: 1;
}
#tui .llist li {
  width: 210px;
  padding: 15px 12px;
  float: left;
  position: relative;
}
#tui .llist li .tu {
  width: 210px;
  height: 210px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
#tui .llist li .title {
  height: 36px;
  overflow: hidden;
}
#tui .llist li .title a {
  color: #666666;
}
#tui .llist li .price {
  font-size: 14px;
  margin-left: 0;
  padding-top: 6px;
  color: #f33f00;
  height: 16px;
  font-family: 微软雅黑;
  line-height: 16px;
  overflow: hidden;
  font-weight: bold;
}
#tui .llist li .price i {
  font-style: normal;
  font-size: 12px;
}
#tui .llist li .btnn {
  top: 190px;
  position: absolute;
  width: 160px;
  height: 24px;
  border-radius: 2px;
  background: #76ac25;
  opacity: 0.95;
  cursor: pointer;
  margin-left: 38px;
  left: 0px;
  display: none;
}
#tui .llist li .btnn a {
  margin: 0 auto;
  width: 60px;
  height: 24px;
  line-height: 24px;
  display: block;
  background: url(../img/indexsprite.png) no-repeat -66px -177px;
  font-family: Microsoft YaHei;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}

#end {
  width: 220px;
  margin: 0 auto;
}
#end .t1 {
  height: 1px;
  overflow: hidden;
  margin-top: 18px;
  background: #f5f5f5;
}
#end .t2 {
  background: #fff;
  text-align: center;
  width: 97px;
  margin: 0 auto;
  font-size: 14px;
  color: #969696;
  margin-top: -8px;
  font-family: 微软雅黑;
}

#textlist {
  width: 1200px;
  margin: 30px auto;
}
#textlist .wei {
  width: 400px;
  float: left;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 20px 0 0;
  height: 200px;
  overflow: hidden;
}
#textlist .wei .caption {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #E8E8E8;
  color: #323232;
}
#textlist .wei .caption p {
  background: url(../img/zhiwei_bg.jpg) no-repeat center left;
  padding: 0 0 0 15px;
  width: 385px;
}
#textlist .wei .side {
  width: 170px;
  position: relative;
  height: 120px;
  overflow: hidden;
  float: left;
  margin-top: 20px;
}
#textlist .wei .side ul {
  width: 510px;
  height: 110px;
  position: absolute;
  left: -170px;
}
#textlist .wei .side ul li {
  height: 110px;
  width: 170px;
  float: left;
}
#textlist .wei .side ul li img {
  height: 100px;
  width: 170px;
}
#textlist .wei .side .next {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
}
#textlist .wei .side .next s {
  background: url(../img/indeximgnew.png) no-repeat -16px 10px;
  width: 38px;
  height: 50px;
  display: block;
  cursor: pointer;
}
#textlist .wei .side .prev {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
}
#textlist .wei .side .prev s {
  background: url(../img/indeximgnew.png) no-repeat 8px 10px;
  width: 38px;
  height: 50px;
  display: block;
  cursor: pointer;
}
#textlist .wei .side .slideControls {
  width: 60px;
  position: absolute;
  top: 10px;
  z-index: 99;
  right: 1px;
}
#textlist .wei .side .slideControls span {
  height: 4px;
  width: 15px;
  float: left;
  cursor: pointer;
  background: #dcdcdc;
  text-indent: -9999px;
}
#textlist .wei .side .slideControls .cur {
  background: #7ABD54;
  width: 15px;
}
#textlist .wei .info {
  float: left;
  margin: 20px 0 0 10px;
  line-height: 20px;
}
#textlist .wei .info p {
  background: url(../img/dian.jpg) no-repeat scroll left center rgba(0, 0, 0, 0);
  height: 20px;
  overflow: hidden;
  padding-left: 10px;
  width: 205px;
  line-height: 20px;
}
#textlist .wei .info p a {
  color: #646464;
}
#textlist .wei .info p a:hover {
  color: #7ABD54;
}
#textlist .share {
  width: 420px;
  float: left;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 20px 0 0;
  height: 200px;
  overflow: hidden;
}
#textlist .share .caption {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #E8E8E8;
  color: #323232;
}
#textlist .share .caption p {
  background: url(../img/zhiwei_bg.jpg) no-repeat center left;
  padding: 0 0 0 15px;
  width: 385px;
}
#textlist .share .scrollbox {
  margin: 20px 0 0 0;
  position: relative;
  height: 122px;
  overflow: hidden;
}
#textlist .share .scrollbox .sbox {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 2s;
}
#textlist .share .scrollbox .sbox li {
  height: 58px;
  overflow: hidden;
  border-bottom: 1px dotted #e8e8e8;
  margin-bottom: 6px;
  vertical-align: middle;
}
#textlist .share .scrollbox .sbox li .sharec {
  height: 50px;
  overflow: hidden;
}
#textlist .share .scrollbox .sbox li .sharec .l {
  float: left;
}
#textlist .share .scrollbox .sbox li .sharec .l img {
  width: 50px;
  height: 50px;
}
#textlist .share .scrollbox .sbox li .sharec .r {
  float: right;
  width: 370px;
  overflow: hidden;
}
#textlist .share .scrollbox .sbox li .sharec .r p {
  padding-left: 20px;
  overflow: hidden;
  height: 22px;
  line-height: 22px;
}
#textlist .share .scrollbox .sbox li .sharec .r p a {
  color: #FA9600;
}
#textlist .share .scrollbox .sbox li .sharec .r .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#textlist .you {
  border: 1px solid #E8E8E8;
  float: right;
  height: 199px;
  width: 337px;
}
#textlist .you .ucaption {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  margin: 0 auto;
  width: 300px;
  height: 25px;
  line-height: 25px;
  padding: 14px 0 10px 0;
  border-bottom: 1px solid #E8E8E8;
}
#textlist .you .ucaption p {
  background: url(../img/youpin.jpg) no-repeat center left;
  padding: 0 0 0 24px;
  float: left;
  color: #323232;
}
#textlist .you .ucaption h2 {
  cursor: pointer;
  float: right;
  display: block;
}
#textlist .you .ucaption h2 a {
  width: 60px;
  height: 29px;
  display: block;
  background: url(../img/foot_bottom.png) no-repeat -3px -97px;
  color: #666;
}
#textlist .you .upic {
  margin: 20px auto;
  width: 300px;
}
#textlist .you .mail {
  width: 302px;
  margin: 0px auto;
  padding: 15px 0 0 0;
}
#textlist .you .mail .mailDYitem {
  zoom: 1;
}
#textlist .you .mail .mailDYitem span {
  float: left;
}
#textlist .you .mail .mailDYitem span .i {
  width: 130px;
  height: 22px;
  line-height: 22px;
  padding: 0 2px;
  border: 1px solid #cccccc;
  margin-right: 2px;
  color: #969696;
  outline: 0;
}
#textlist .you .mail .mailDYitem span .btn {
  background: url(../img/foot_bottom.png) no-repeat -118px -106px;
  height: 24px;
  width: 44px;
  border: 0;
  display: block;
}
#textlist .you .mail .mailDYitem span .dy {
  color: #656565;
  line-height: 25px;
}
#textlist .you .mail .mailDYitem span .dy:hover {
  color: #669900;
}
#textlist .you .mail .mailDYitem .ftitle {
  width: 60px;
}
#textlist .you .mail .mailDYitem .ftitle .store {
  height: 24px;
  margin-right: 3px;
  float: left;
  position: relative;
}
#textlist .you .mail .mailDYitem .ftitle .store .text {
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #CECBCE;
  float: left;
  padding: 0 20px 0 4px;
  position: relative;
  top: 0;
  font-size: 12px;
  font-weight: normal;
}
#textlist .you .mail .mailDYitem .ftitle .store .text b {
  background: url(../img/indexImg20130307.png?v=1.4) no-repeat -386px -2px;
  display: block;
  height: 24px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 17px;
}
#textlist .you .mail .mailDYitem .ftitle .clear {
  clear: both;
  padding: 0px;
  font-size: 0px;
  margin: 0px;
  height: 0px;
  line-height: 0;
  overflow: hidden;
  display: block;
}

#footer {
  line-height: 18px;
  color: #969696;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
#footer .foot {
  height: 120px;
  background: #F5F5F5;
  width: 100%;
  margin: 10px 0 0 0;
}
#footer .foot ul {
  width: 1200px;
  margin: 0px auto;
}
#footer .foot ul li {
  width: 300px;
  height: 120px;
  float: left;
}
#footer .foot ul .quan {
  background: url(http://i.sfimg.cn/html/images/foot/f1.png) no-repeat center center;
}
#footer .foot ul .leng {
  background: url(http://i.sfimg.cn/html/images/foot/f2.png) no-repeat center center;
}
#footer .foot ul .qc {
  background: url(http://i.sfimg.cn/html/images/foot/f3.png) no-repeat center center;
}
#footer .foot ul .sf {
  background: url(http://i.sfimg.cn/html/images/foot/f4.png) no-repeat center center;
}
#footer .over {
  width: 100%;
  height: 285px;
}
#footer .over .pageFooter {
  width: 1200px;
  margin: 0 auto;
}
#footer .over .pageFooter .middle {
  float: left;
  width: 290px;
  height: 145px;
  margin: 20px 0px 0px 10px;
  background: url(../img/logo.jpg) no-repeat left top;
}
#footer .over .pageFooter .middle ul {
  padding: 85px 0 0 0;
}
#footer .over .pageFooter .middle ul .kefu {
  font-size: 20px;
  color: #646464;
  font-weight: bold;
  padding: 6px 0;
}
#footer .over .pageFooter .right {
  float: left;
  margin: 35px 0 0 0;
  width: 645px;
}
#footer .over .pageFooter .right ul {
  float: left;
  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 120px;
}
#footer .over .pageFooter .right ul .title {
  color: #707070;
  font-weight: bold;
  font-size: 14px;
}
#footer .over .pageFooter .right ul li {
  text-align: left;
  font-family: Microsoft YaHei;
  height: 24px;
  line-height: 24px;
}
#footer .over .pageFooter .right ul li a {
  color: #646464;
  display: block;
  padding: 0px 0px 0px 0px;
}
#footer .over .pageFooter .right ul li a:hover {
  color: #669900;
}
#footer .over .pageFooter .left {
  float: left;
  margin: 35px 0 0 0;
  width: 235px;
  height: 145px;
}
#footer .over .pageFooter .left ul {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  float: left;
}
#footer .over .pageFooter .left .one li {
  width: 80px;
  text-align: center;
  margin: 0 50px 8px 0;
  line-height: 24px;
}
#footer .over .pageFooter .left .one li span {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_bottom.png) no-repeat 0px 0px;
  margin: auto;
}
#footer .over .pageFooter .left .one li a {
  color: #646464;
}
#footer .over .pageFooter .left .two {
  width: 80px;
  text-align: center;
  margin: 0 0 8px 0;
  line-height: 24px;
}
#footer .over .pageFooter .left .two li {
  width: 80px;
  text-align: center;
  margin: 0 0 8px 0;
  line-height: 24px;
}
#footer .over .pageFooter .left .two li span {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_bottom.png) no-repeat -83px 0px;
  margin: auto;
}
#footer .over .pageFooter .left .two li a {
  color: #646464;
}
#footer .bottom {
  width: 1180px;
  height: 50px;
  margin: 0px auto;
  border-top: 1px solid #E0E0E0;
  padding-top: 15px;
  position: relative;
}
#footer .bottom .kx {
  float: left;
}
#footer .bottom .kx img {
  height: 33px;
}
#footer .bottom .kxz {
  float: left;
  margin-left: 5px;
}
#footer .bottom .kxz img {
  height: 33px;
}
#footer .siteinfo {
  float: left;
  margin-left: 100px;
  padding: 0;
}
#footer .siteinfo span {
  padding-left: 13px;
}
#footer .siteinfo span a {
  color: #646464;
}
#footer .siteinfo span a:hover {
  color: #669900;
}

#side {
  right: 10px;
  left: auto;
  margin-left: 0;
  position: fixed;
  bottom: 200px;
  margin-left: 610px;
}
#side .sidec {
  width: 44px;
  height: 44px;
  position: relative;
  margin-top: 6px;
}
#side .sidec .kefu {
  background: url(../img/index_kefu.png) center center no-repeat;
  width: 44px;
  height: 44px;
  display: block;
}
#side .sidec .paid {
  background: url(../img/paid_bg.png) no-repeat -41px -182px;
  width: 44px;
  height: 44px;
  display: block;
}
#side .sidec .cart {
  background: url(../img/productList.png) no-repeat 0 -45px;
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #dadada;
}
#side .sidec .guang {
  background: url(../img/productList.png) no-repeat -42px -82px;
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #dadada;
}
#side .sidec .app {
  background: url(../img/productList.png) no-repeat -42px -40px;
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #dadada;
  text-indent: -9999px;
  overflow: hidden;
}
#side .sidec .s-promote {
  width: 42px;
  height: 42px;
  background: url(../img/sf_new_bg.png) no-repeat 0 -27px;
  border: 1px solid #dadada;
  display: block;
  text-indent: -9999px;
}
#side .sidec .top {
  display: block;
  width: 42px;
  height: 42px;
  background: url(../img/productList.png) no-repeat 0 -82px;
  border: 1px solid #dadada;
}

/*# sourceMappingURL=index.css.map */
