@charset "UTF-8";
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #515151;
}

input {
  outline: none;
}

ul, li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

body {
  color: #666666;
  font: 12px/150% Arial,Verdana,"宋体";
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

#topMenu {
  width: 100%;
  height: 33px;
  text-align: center;
  position: relative;
  z-index: 101;
  padding: 0px;
  background: #f7f7f7;
  border-bottom: 1px solid #eeeeee;
}
#topMenu .pw {
  width: 1200px;
  margin: auto;
}
#topMenu .pw .left {
  float: left;
}
#topMenu .pw .left .d1 {
  color: #969696;
  float: left;
  position: relative;
  line-height: 33px;
}
#topMenu .pw .left .d6 {
  float: left;
  position: relative;
  line-height: 33px;
  display: block;
}
#topMenu .pw .left .d6:hover {
  background-color: #fff;
}
#topMenu .pw .left .d6:hover .dd1 {
  display: block;
}
#topMenu .pw .left .d6 .pshort {
  width: 50px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #DCDCDC;
  margin: 6px 0 0 0;
  overflow: hidden;
  cursor: pointer;
}
#topMenu .pw .left .d6 .pshort:hover b {
  transform: rotate(180deg);
}
#topMenu .pw .left .d6 .pshort:hover .city {
  background: #fff;
}
#topMenu .pw .left .d6 .pshort .city {
  margin: 0 0 0 5px;
  width: 30px;
  height: 20px;
  overflow: hidden;
  display: block;
  color: #333333;
  line-height: 20px;
}
#topMenu .pw .left .d6 .pshort b {
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  position: absolute;
  top: 15px;
  right: 5px;
}
#topMenu .pw .left .d6 .pshort .outline1 {
  z-index: 1;
  left: 6px;
  width: 50px;
  height: 8px;
  top: 24px;
  border: 0 none;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
}
#topMenu .pw .left .d6 .pshort .blank {
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  width: 50px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
}
#topMenu .pw .left .d6 .dd1 {
  display: none;
  width: 438px;
  border: 1px solid #DCDCDC;
  text-align: left;
  margin: 0;
  position: absolute;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .left .d6 .dd1 .top {
  margin: 5px 10px 5px 10px;
  height: 30px;
  border-bottom: 1px solid #DCDCDC;
  line-height: 30px;
}
#topMenu .pw .left .d6 .dd1 .top span {
  float: left;
  color: #969696;
  line-height: 30px;
}
#topMenu .pw .left .d6 .dd1 .top .off {
  float: right;
  background: url(../img/index_icon_new.png) -245px -33px no-repeat;
  width: 18px;
  height: 18px;
  margin: 5px 0 0 0;
  cursor: pointer;
}
#topMenu .pw .left .d6 .dd1 .middle {
  margin: 0px 10px 5px 10px;
  line-height: 33px;
}
#topMenu .pw .left .d6 .dd1 .middle ul li {
  width: 38px;
  float: left;
  position: relative;
  line-height: 33px;
}
#topMenu .pw .left .d6 .dd1 .middle ul li a {
  color: #0099FF;
}
#topMenu .pw .left .d6 .dd1 .clear {
  clear: both;
  padding: 0px;
  font-size: 0px;
  margin: 0px;
  height: 0px;
  line-height: 0;
  overflow: hidden;
  display: block;
}
#topMenu .pw .left .d6 .dd1 .bottom {
  margin: 5px 10px 15px 10px;
  color: #969696;
}
#topMenu .pw .left .d6 .dd1 .bottom .quyu {
  float: left;
  height: 25px;
  line-height: 25px;
  color: #969696;
}
#topMenu .pw .left .d6 .dd1 .bottom .huadong {
  float: left;
  width: 360px;
}
#topMenu .pw .left .d6 .dd1 .bottom .huadong li {
  width: 40px;
  text-align: center;
  height: 25px;
  line-height: 22px;
  cursor: pointer;
  color: #333333;
  float: left;
  position: relative;
}
#topMenu .pw .right {
  float: right;
}
#topMenu .pw .right li {
  float: left;
  position: relative;
  line-height: 33px;
}
#topMenu .pw .right .login {
  color: #999999;
  padding: 0 10px;
}
#topMenu .pw .right .login a {
  color: #969696;
}
#topMenu .pw .right .login .user {
  color: #0066cc;
}
#topMenu .pw .right .login .out {
  color: #0066cc;
}
#topMenu .pw .right .login .newregbox {
  position: relative;
  display: inline-block;
}
#topMenu .pw .right .login .newregbox a {
  color: #969696;
}
#topMenu .pw .right .login .newregbox .ad {
  cursor: pointer;
  width: 292px;
  height: 34px;
  text-align: center;
  position: absolute;
  top: 25px;
  left: -146px;
  padding-left: 22px;
}
#topMenu .pw .right .login .newregbox .ad .up {
  display: inline-block;
  width: 11px;
  height: 7px;
  background: url(../img/regicon-top.png) left top;
  position: absolute;
  top: 0;
  left: 165px;
}
#topMenu .pw .right .login .newregbox .ad .newregTips {
  display: inline-block;
  margin-top: 7px;
}
#topMenu .pw .right .login .newregbox .ad .newregTips em {
  color: #fff;
  font-size: 12px;
  height: 22px;
  float: left;
  padding: 0 8px;
  min-width: 60px;
  text-align: left;
  overflow: hidden;
  background: #f14431;
  border-radius: 10px;
  line-height: 22px;
}
#topMenu .pw .right .myOrder {
  padding: 0 10px;
}
#topMenu .pw .right .myOrder a {
  color: #969696;
}
#topMenu .pw .right .menu {
  padding: 0 10px 0 10px;
  width: 60px;
  cursor: default;
  margin: 6px 0 0 0;
  line-height: 22px;
  height: 26px;
}
#topMenu .pw .right .menu:hover b {
  transform: rotate(180deg);
}
#topMenu .pw .right .menu:hover .dd {
  display: block;
}
#topMenu .pw .right .menu a {
  color: #969696;
}
#topMenu .pw .right .menu b {
  position: absolute;
  right: 5px;
  top: 8px;
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  overflow: hidden;
}
#topMenu .pw .right .menu .outline {
  z-index: 1;
  left: 6px;
  width: 78px;
  height: 8px;
  top: 22px;
  border: 0 none;
  overflow: hidden;
  background-color: white;
  display: none;
  position: absolute;
}
#topMenu .pw .right .menu .blank {
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
}
#topMenu .pw .right .menu .dd {
  margin-left: 5px;
  line-height: 22px;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  top: 25px;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .tshow {
  padding: 0 10px 0 28px;
}
#topMenu .pw .right .tshow:hover .dd {
  display: block;
}
#topMenu .pw .right .tshow:hover q {
  background: url(../img/header.png) no-repeat -73px -138px;
}
#topMenu .pw .right .tshow q {
  background: url(../img/header.png) no-repeat -73px -122px;
  width: 10px;
  left: 10px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  height: 16px;
  position: absolute;
  top: 9px;
  quotes: none;
}
#topMenu .pw .right .tshow a {
  color: #969696;
}
#topMenu .pw .right .tshow .dd {
  display: none;
  top: 32px;
  width: 230px;
  left: -50px;
  padding: 15px 0 0 0;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .tshow .dd .sf-client {
  margin-bottom: 10px;
  margin-left: 15px;
  position: relative;
  text-align: left;
}
#topMenu .pw .right .tshow .dd .sf-client span {
  width: 73px;
  height: 74px;
  overflow: hidden;
  background: url(../img/header.png) no-repeat 0 -93px;
  display: block;
}
#topMenu .pw .right .tshow .dd .sf-client i {
  position: absolute;
  width: 50px;
  height: 29px;
  left: 80px;
  top: 5px;
  background: url(../img/header.png) no-repeat -73px -93px;
  display: block;
}
#topMenu .pw .right .tshow .dd .sf-client .client-txt {
  position: absolute;
  left: 95px;
  top: 34px;
}
#topMenu .pw .right .tshow .dd .sf-client .client-txt em {
  display: block;
  line-height: 20px;
}
#topMenu .pw .right .tshow .dd .sf-client .client-txt b {
  color: #76ac25;
  line-height: 20px;
}
#topMenu .pw .right .tshow .dd .app-btn {
  font-size: 0;
  height: 29px;
  margin: 0 0 10px 15px;
}
#topMenu .pw .right .tshow .dd .app-btn .app-apple {
  float: left;
  display: block;
  width: 96px;
  height: 29px;
  background: url(../img/header.png) no-repeat 0 -167px;
  margin-right: 5px;
}
#topMenu .pw .right .tshow .dd .app-btn .app-android {
  float: left;
  display: block;
  width: 96px;
  height: 29px;
  background: url(../img/header.png) no-repeat 0 -196px;
}
#topMenu .pw .right .tshow .dd .client-promo {
  height: 30px;
  background: url(../img/indexImg20130307.png) no-repeat -182px -210px #fcfbe4;
  text-align: center;
  color: #fa6400;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
#topMenu .pw .right .tshow .dd .client-promo a {
  color: #fa6400;
}
#topMenu .pw .right .tshow .dd .corner {
  left: 45px;
  display: none;
  width: 8px;
  height: 15px;
  position: absolute;
  top: 25px;
  z-index: 2;
}
#topMenu .pw .right .tshow .dd .corner .aBg {
  border-left: 8px dashed rgba(0, 0, 0, 0);
  border-right: 8px dashed rgba(0, 0, 0, 0);
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  width: 0;
}
#topMenu .pw .right .tshow .dd .corner .aCt {
  border-left: 8px dashed rgba(0, 0, 0, 0);
  border-right: 8px dashed rgba(0, 0, 0, 0);
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  width: 0;
  border-bottom: 8px solid #ffffff;
  position: relative;
  border-top: 0 none;
  margin: -7px 0 0 0px;
}
#topMenu .pw .right .help {
  padding: 0 10px 0 10px;
  width: 60px;
  height: 27px;
  cursor: default;
  margin: 6px 0 0 0;
  line-height: 22px;
}
#topMenu .pw .right .help:hover b {
  transform: rotate(180deg);
}
#topMenu .pw .right .help:hover .dd {
  display: block;
}
#topMenu .pw .right .help a {
  color: #969696;
}
#topMenu .pw .right .help b {
  position: absolute;
  right: 5px;
  top: 8px;
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  overflow: hidden;
}
#topMenu .pw .right .help .outline {
  z-index: 1;
  left: 6px;
  width: 78px;
  height: 8px;
  top: 22px;
  border: 0 none;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
}
#topMenu .pw .right .help .blank {
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
}
#topMenu .pw .right .help .dd {
  margin-left: 5px;
  line-height: 22px;
  left: 0;
  width: 78px;
  box-shadow: 0 0 5px #dadada;
  top: 28px;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .help .dd a {
  color: #969696;
}
#topMenu .pw .right .allCat {
  padding: 0 15px;
  cursor: default;
  margin: 6px 0 0 0;
  height: 29px;
  line-height: 22px;
}
#topMenu .pw .right .allCat:hover s {
  transform: rotate(180deg);
}
#topMenu .pw .right .allCat:hover .dd {
  display: block;
}
#topMenu .pw .right .allCat em {
  color: #969696;
}
#topMenu .pw .right .allCat s {
  position: absolute;
  right: 0;
  top: 8px;
  background: url(../img/header.png) no-repeat -86px -130px;
  width: 8px;
  height: 4px;
  transition: transform .2s ease-in 0s;
  -webkit-transition: -webkit-transform .2s ease-in 0s;
  overflow: hidden;
  text-decoration: line-through;
  cursor: default;
  line-height: 22px;
}
#topMenu .pw .right .allCat .outline {
  width: 81px;
  z-index: 1;
  left: 6px;
  height: 8px;
  top: 22px;
  border: 0 none;
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: white;
}
#topMenu .pw .right .allCat .blank {
  width: 81px;
  margin-left: 5px;
  top: 0;
  height: 33px;
  z-index: -1;
  left: 0;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  box-shadow: 0 0 5px #dadada;
}
#topMenu .pw .right .allCat .dd {
  top: 28px;
  width: 815px;
  right: 0;
  margin-right: -10px;
  left: auto;
  padding-top: 10px;
  box-shadow: 0 0 5px #dadada;
  display: none;
  position: absolute;
  border: 1px solid #dadada;
  background-color: white;
  z-index: 3;
}
#topMenu .pw .right .allCat .dd dl {
  float: left;
  width: 200px;
  padding: 15px 19px 0 20px;
  text-align: left;
  margin-bottom: 10px;
}
#topMenu .pw .right .allCat .dd dl dt {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Microsoft Yahei;
}
#topMenu .pw .right .allCat .dd dl .dh2 {
  color: #FA6400;
}
#topMenu .pw .right .allCat .dd dl .dh {
  color: #669900;
}
#topMenu .pw .right .allCat .dd dl .dh3 {
  color: #646464;
}
#topMenu .pw .right .allCat .dd dl dd {
  line-height: 20px;
  height: 100px;
  display: block;
  margin-inline-start: 40px;
}
#topMenu .pw .right .allCat .dd dl dd p {
  width: 100%;
  float: left;
}
#topMenu .pw .right .allCat .dd dl dd a {
  display: block;
  width: 65px;
  float: left;
  line-height: 30px;
  color: #666666;
}
#topMenu .pw .right .allCat .dd .line {
  background: url(../img/line.jpg) center repeat-y;
  height: 90px;
  width: 5px;
  margin: 20px 0 0 0;
}
#topMenu .pw .right .d3 {
  width: 30px;
  height: 30px;
}
#topMenu .pw .right .d3 a {
  color: #969696;
}
#topMenu .pw .right .d3 a q {
  background: url(../img/header.png) no-repeat -55px 0;
  width: 19px;
  left: 12px;
  cursor: pointer;
  quotes: none;
  height: 16px;
  position: absolute;
  top: 9px;
}
#topMenu .pw .right .d4 {
  width: 30px;
  height: 30px;
}
#topMenu .pw .right .d4 q {
  background: url(../img/header.png) no-repeat -74px 0;
  width: 17px;
  left: 8px;
  quotes: none;
  height: 16px;
  position: absolute;
  top: 9px;
}

#header {
  padding: 0;
  height: 104px;
  width: 1200px;
  margin: 0 auto;
}
#header .inner {
  width: 1200px;
  margin: auto;
  position: relative;
  z-index: 31;
}
#header .inner .logo {
  width: 240px;
  margin: 0px;
  float: left;
  padding: 5px 0px 0px 0px;
  position: relative;
}
#header .inner .logo img {
  height: 69px;
  width: 220px;
  border: 0;
}
#header .inner .search {
  position: absolute;
  width: 514px;
  margin: 0px;
  padding: 0px;
  right: 248px;
  top: 28px;
}
#header .inner .search .input {
  border: 1px solid #669900;
  width: 425px;
  height: 34px;
  padding: 0 0 0 4px;
  vertical-align: middle;
  float: left;
  color: #999999;
  outline: none;
}
#header .inner .search .button {
  margin: 0px;
  height: 36px;
  width: 80px;
  cursor: pointer;
  float: left;
  vertical-align: middle;
  border: 0;
  background: url(../img/header.png) no-repeat -99px -179px;
  color: #FFF;
  outline: none;
}
#header .inner .search .hot {
  clear: both;
  text-align: left;
  padding: 4px 0px 0px 0px;
}
#header .inner .search .hot a {
  margin: 0px 8px 0px 0px;
  color: #979797;
}
#header .inner .shopingcar {
  width: 146px;
  padding-left: 48px;
  position: absolute;
  top: 28px;
  right: 0px;
  height: 33px;
  border: 1px solid #efefef;
  line-height: 33px;
  font-size: 12px;
}
#header .inner .shopingcar:hover .shoplist {
  display: block;
}
#header .inner .shopingcar .setCart {
  background: url(../img/header.png) no-repeat -102px -235px;
  margin: 2px 0 0 0;
  width: 23px;
  height: 21px;
  left: 17px;
  position: absolute;
  top: 4px;
}
#header .inner .shopingcar a {
  color: #666;
}
#header .inner .shopingcar .carnum {
  position: absolute;
  top: -1px;
  left: 154px;
  width: 40px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background-color: #fa9600;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
#header .inner .shopingcar .shoplist {
  display: none;
  width: 360px;
  position: absolute;
  right: -1px;
  box-shadow: 0 0 5px #dadada;
  top: 34px;
}
#header .inner .shopingcar .shoplist .content {
  padding: 10px;
  width: 340px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
#header .inner .shopingcar .shoplist .content .content1 {
  padding: 10px 0;
}
#header .inner .shopingcar .shoplist .content .content1 .pro {
  width: 240px;
  height: 42px;
  margin: 0 0 0 85px;
  background: url(../img/header.png) no-repeat -99px -123px;
}
#header .inner .shopingcar .shoplist .content .content1 .pro p {
  padding-left: 50px;
}

#mainNav {
  width: 100%;
  height: 32px;
  border-bottom: 2px solid #679800;
}
#mainNav .menu {
  margin: 0px auto;
  color: #303437;
  padding: 0;
  width: 1200px;
  clear: both;
}
#mainNav .menu .categories {
  float: left;
  width: 200px;
  background: #76ac25;
  height: 34px;
  text-align: left;
  position: relative;
  z-index: 2;
}
#mainNav .menu .categories .dt {
  height: 34px;
  overflow: hidden;
  background: url(../img/cate_bg.jpg);
}
#mainNav .menu .categories .dt a {
  height: 32px;
  line-height: 32px;
  display: block;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  width: 200px;
  text-align: center;
  text-decoration: none;
}
#mainNav .menu .categories .dd {
  margin: 0;
  z-index: 2;
  padding: 0;
  width: 200px;
  height: 480px;
  position: absolute;
  background-color: #76ac25;
  display: none;
}
#mainNav .menu .categories .dd .book {
  padding-top: 8px;
  padding-left: 15px;
}
#mainNav .menu .categories .dd .book .item {
  height: 58px;
}
#mainNav .menu .categories .dd .book .item .i-master {
  display: block;
  height: 54px;
  padding-left: 15px;
  font-family: Microsoft YaHei;
}
#mainNav .menu .categories .dd .book .item .i-master h3 {
  font-weight: normal;
  font-size: 14px;
  padding-top: 5px;
  line-height: 22px;
}
#mainNav .menu .categories .dd .book .item .i-master h3 .fresh {
  background: url(../img/left_lm_m_a.png) no-repeat 0 5px;
  width: 16px;
  height: 22px;
  margin-left: -20px;
  float: left;
}
#mainNav .menu .categories .dd .book .item .i-master h3 .track {
  color: white;
  margin-left: 2px;
}
#mainNav .menu .categories .dd .book .item .i-master .subCat {
  font-size: 12px;
  overflow: hidden;
  line-height: 20px;
  height: 20px;
}
#mainNav .menu .categories .dd .book .item .i-master .subCat li {
  float: left;
  margin-right: 8px;
}
#mainNav .menu .categories .dd .book .item .i-master .subCat li a {
  color: #ddeac8;
  margin-left: 2px;
}
#mainNav .menu .categories .dd .book .item .i-master s {
  position: absolute;
  width: 11px;
  height: 54px;
  background-color: white;
  left: 190px;
  z-index: 1000;
  display: none;
  margin-top: -47px;
}
#mainNav .menu .categories .dd .book .item .i-cm {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  width: 560px;
  height: 480px;
  background: #ffffff;
  z-index: 999;
  filter: alpha(opacity=98);
  opacity: 0.98;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left {
  float: left;
  width: 542px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort {
  width: 542px;
  height: 248px;
  padding: 8px 0 24px 10px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl {
  overflow: hidden;
  zoom: 1;
  font-family: Microsoft YaHei;
  padding: 1px 0 0 0;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dt {
  width: 80px;
  padding-right: 10px;
  float: left;
  text-align: right;
  height: 18px;
  line-height: 18px;
  margin: 4px 0px;
  color: #76ac25;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dt a {
  color: #76ac25;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dd {
  overflow: hidden;
  zoom: 1;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .sort dl dd a {
  float: left;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin: 4px 1px;
  text-align: left;
  padding: 0px 6px;
  border-left: 1px solid #ccc;
  color: #666;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-left .img img {
  width: 560px;
  height: 200px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-right {
  float: right;
  width: 205px;
  height: 506px;
}
#mainNav .menu .categories .dd .book .item .i-cm .i-right span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 6px;
  right: 6px;
  background: url(../img/index_icon_new.png) no-repeat -245px -1px;
  cursor: pointer;
}
#mainNav .menu .menu1 {
  width: 1000px;
  float: right;
  position: relative;
}
#mainNav .menu .menu1 ul {
  width: 1000px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
}
#mainNav .menu .menu1 ul li {
  float: left;
  text-align: center;
  color: #303437;
}
#mainNav .menu .menu1 ul li a {
  padding: 0 24px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 32px;
  font-family: Microsoft YaHei;
  color: #333;
  font-weight: 700;
}
#mainNav .menu .menu1 ul li a:hover {
  color: #669900;
}
#mainNav .menu .menu1 ul li .g {
  color: #669900;
}
#mainNav .menu .menu1 ul .ad {
  float: right;
  width: 196px;
  height: 32px;
  overflow: hidden;
}
#mainNav .menu .menu1 ul .ad img {
  width: 196px;
  height: 32px;
}

#content_list {
  width: 1200px;
  margin: 0 auto;
}
#content_list .main-box {
  float: right;
  width: 1004px;
}
#content_list .main-box .r-select {
  margin-bottom: 10px;
}
#content_list .main-box .r-select .attrs-extend {
  border: 1px solid #dadada;
}
#content_list .main-box .r-select .attrs-extend .attr {
  border-top: 1px dashed #dadada;
  overflow: hidden;
  padding: 5px 0;
  zoom: 1;
}
#content_list .main-box .r-select .attrs-extend .attr .a-key {
  float: left;
  font-weight: bold;
  line-height: 25px;
  text-align: right;
  width: 100px;
  color: #6c9c0a;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value {
  overflow: hidden;
  zoom: 1;
  position: relative;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-list {
  float: left;
  width: 840px;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-list ul {
  overflow: hidden;
  zoom: 1;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-list ul li {
  float: left;
  width: 160px;
  height: 22px;
  padding-top: 3px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-list ul li a {
  color: #666;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-show {
  overflow: hidden;
  zoom: 1;
  height: 20px;
  padding-top: 5px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-show .s-more {
  float: right;
  width: 36px;
  cursor: pointer;
  color: #6c9c0a;
}
#content_list .main-box .r-select .attrs-extend .attr .a-value .v-show .s-more b {
  float: right;
  background: url(../img/productList.png) no-repeat 0 -14px;
  width: 9px;
  height: 5px;
  margin-top: 7px;
}
#content_list .main-box .r-filter {
  border: 1px solid #dadada;
  background-color: #f5f5f5;
  width: 1002px;
  background-color: #fff;
  z-index: 10;
  margin-bottom: 10px;
}
#content_list .main-box .r-filter .f-sort {
  height: 24px;
  border-bottom: 1px solid #dadada;
  padding: 5px 15px;
  overflow: hidden;
  zoom: 1;
}
#content_list .main-box .r-filter .f-sort .sort {
  float: left;
  width: 400px;
}
#content_list .main-box .r-filter .f-sort .sort ul {
  overflow: hidden;
  zoom: 1;
  border-left: 1px solid #dadada;
}
#content_list .main-box .r-filter .f-sort .sort ul li {
  float: left;
}
#content_list .main-box .r-filter .f-sort .sort ul li a {
  width: 64px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #dadada;
  border-left: 0 none;
  background-color: white;
  position: relative;
  display: block;
}
#content_list .main-box .r-filter .f-sort .sort ul li .up a {
  width: 64px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #dadada;
  border-left: 0 none;
  background-color: white;
  position: relative;
  display: block;
}
#content_list .main-box .r-filter .f-sort .sort ul li .up b {
  position: absolute;
  right: 9px;
  height: 8px;
  width: 7px;
  background: url(../img/productList.png) no-repeat -52px 0;
  top: 8px;
  overflow: hidden;
}
#content_list .main-box .r-filter .f-sort .sort ul .curr a {
  border: 1px solid #6c9c0a;
  background-color: #6c9c0a;
  color: white;
}
#content_list .main-box .r-filter .f-sort .pagin {
  float: right;
}
#content_list .main-box .r-filter .f-sort .pagin .txt {
  float: left;
  line-height: 24px;
  padding: 0 15px;
}
#content_list .main-box .r-filter .f-sort .pagin .txt span {
  color: #BB3221;
}
#content_list .main-box .r-filter .f-sort .pagin .prev {
  background: url(../img/productList.png) no-repeat -36px -124px;
  width: 18px;
  height: 18px;
  border: 1px solid #cccccc;
  margin: 2px;
  text-indent: -9999px;
  float: left;
  overflow: hidden;
}
#content_list .main-box .r-filter .f-sort .pagin .next {
  background: url(../img/productList.png) no-repeat -36px -14px;
  width: 18px;
  height: 18px;
  border: 1px solid #cccccc;
  margin: 2px;
  text-indent: -9999px;
  float: left;
  overflow: hidden;
}
#content_list .main-box .r-filter .f-sort .total {
  float: right;
  line-height: 24px;
  padding: 0 15px 0 0;
}
#content_list .main-box .r-filter .f-sort .total .searchTotal {
  color: #bb3221;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#content_list .main-box .r-filter .f-stock {
  height: 26px;
  padding: 5px 15px;
}
#content_list .main-box .r-filter .f-stock .rowTitle {
  float: left;
  line-height: 26px;
}
#content_list .main-box .r-filter .f-stock .rowAddr {
  float: left;
}
#content_list .main-box .r-filter .f-stock .rowAddr .store-selector {
  float: left;
  height: 26px;
  position: relative;
  z-index: 1;
}
#content_list .main-box .r-filter .f-stock .rowAddr .store-selector .text {
  background: #FFFFFF;
  border: 1px solid #CECBCE;
  float: left;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding: 0 20px 0 4px;
  position: relative;
  top: 0;
  font-size: 12px;
  font-weight: normal;
}
#content_list .main-box .r-filter .f-stock .rowAddr .store-selector .text .address-more {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content_list .main-box .r-filter .f-stock .rowAddr .store-selector .text b {
  background: url(../img/indexImg20130307.png?v=1.4) no-repeat -386px -2px;
  display: block;
  height: 24px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 17px;
}
#content_list .main-box .r-filter .f-stock .rowFilter {
  float: left;
  margin-top: 5px;
}
#content_list .main-box .r-filter .f-stock .rowFilter span {
  margin-left: 5px;
  color: #999999;
}
#content_list .main-box .r-filter .f-stock .rowFilter span input {
  margin-right: 3px;
}
#content_list .main-box .xitop {
  position: fixed;
  top: 0;
}
#content_list .main-box .pages {
  margin: 12px;
  text-align: right;
  font-size: 14px;
  padding: 0 0 10px 0;
}
#content_list .main-box .p-list li {
  float: left;
  width: 241px;
  height: 388px;
  padding: 5px;
  font-family: 微软雅黑;
}
#content_list .main-box .p-list li .wrap {
  width: 219px;
  height: 366px;
  padding: 11px;
  position: relative;
  z-index: 1;
}
#content_list .main-box .p-list li .wrap .pic {
  text-align: center;
}
#content_list .main-box .p-list li .wrap .pic a {
  display: block;
  position: relative;
}
#content_list .main-box .p-list li .wrap .pic a img {
  width: 210px;
  height: 210px;
  border: 0;
}
#content_list .main-box .p-list li .wrap .price {
  margin: 5px 0 3px 0;
  height: 20px;
  overflow: hidden;
  zoom: 1;
}
#content_list .main-box .p-list li .wrap .price span {
  float: left;
  margin-right: 2px;
  line-height: 20px;
}
#content_list .main-box .p-list li .wrap .price span .now {
  font-family: 微软雅黑;
  color: #BB3221;
}
#content_list .main-box .p-list li .wrap .titlea {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
#content_list .main-box .p-list li .wrap .titlea a {
  color: #666666;
}
#content_list .main-box .p-list li .wrap .titleb {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: #EA5404;
}
#content_list .main-box .p-list li .wrap .commit {
  color: #195f45;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
#content_list .main-box .p-list li .wrap .commit .owner_shop_list {
  display: inline-block;
  width: 37px;
  height: 18px;
  line-height: 18px;
  background-color: #6f9a09;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  margin-left: 5px;
}
#content_list .main-box .p-list li .wrap .action {
  margin-top: 5px;
}
#content_list .main-box .p-list li .wrap .action .p-num {
  float: left;
  width: 68px;
  height: 30px;
  overflow: hidden;
  zoom: 1;
  margin-right: 12px;
}
#content_list .main-box .p-list li .wrap .action .p-num span {
  float: left;
}
#content_list .main-box .p-list li .wrap .action .p-num span a {
  width: 18px;
  height: 28px;
  border: 1px solid #dadada;
  display: block;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #6b6b6b;
}
#content_list .main-box .p-list li .wrap .action .p-num span input {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #dadada;
  border-left: none;
  border-right: none;
  font-size: 14px;
  overflow: hidden;
  color: #969696;
}
#content_list .main-box .p-list li .wrap .btn {
  float: left;
}
#content_list .main-box .p-list li .wrap .btn a {
  background: url(../img/productlist_cart.png) no-repeat scroll 20px -21px;
  font-family: "微软雅黑";
  text-align: center;
  border: 1px solid #dadada;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 0 0 0 25px;
  text-decoration: none;
  width: 103px;
  color: #557e00;
}
#content_list .main-box .p-list li .wrap .btn a:hover {
  background: url(../img/productlist_cart.png) no-repeat scroll 20px 10px #6B9C05;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 105px;
  border: 0;
  border-radius: 2px;
}
#content_list .main-box .p-list li .w {
  border: 1px solid #d7d7d7;
  padding: 10px;
}
#content_list .main-box .p-list .curr {
  padding: 0;
  border: 5px solid #f5f5f5;
  border-radius: 6px;
}
#content_list .left-box {
  float: left;
  width: 186px;
}
#content_list .left-box .list {
  border-width: 2px 1px 1px 1px;
  border-color: #999999 #dadada #dadada #dadada;
  border-style: solid;
  overflow: hidden;
  width: 184px;
}
#content_list .left-box .list h2 {
  height: 40px;
  line-height: 40px;
  font-family: "微软雅黑";
  font-size: 16px;
  padding: 0 7px 0 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dadada;
}
#content_list .left-box .list .item {
  border-top: 1px dashed #dadada;
  zoom: 1;
}
#content_list .left-box .list .item h3 {
  height: 34px;
  line-height: 34px;
  padding: 0 7px 0 10px;
  font: 14px/34px 宋体;
  font-weight: bold;
  color: #6d6d6d;
  cursor: pointer;
  overflow: hidden;
}
#content_list .left-box .list .item h3 b {
  cursor: pointer;
  float: left;
  height: 14px;
  margin: 10px 5px 0 0;
  overflow: hidden;
  width: 14px;
  background: url(../img/productList.png) no-repeat;
}

#footer {
  line-height: 18px;
  color: #969696;
  width: 100%;
  height: 550px;
  overflow: hidden;
  padding-top: 66px;
}
#footer .over {
  width: 100%;
  height: 285px;
}
#footer .over .pageFooter {
  width: 1200px;
  margin: 0 auto;
}
#footer .over .pageFooter .middle {
  float: left;
  width: 290px;
  height: 145px;
  margin: 20px 0px 0px 10px;
  background: url(../img/logo.jpg) no-repeat left top;
}
#footer .over .pageFooter .middle ul {
  padding: 85px 0 0 0;
}
#footer .over .pageFooter .middle ul .kefu {
  font-size: 20px;
  color: #646464;
  font-weight: bold;
  padding: 6px 0;
}
#footer .over .pageFooter .right {
  float: left;
  margin: 35px 0 0 0;
  width: 645px;
}
#footer .over .pageFooter .right ul {
  float: left;
  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 120px;
}
#footer .over .pageFooter .right ul .title {
  color: #707070;
  font-weight: bold;
  font-size: 14px;
}
#footer .over .pageFooter .right ul li {
  text-align: left;
  font-family: Microsoft YaHei;
  height: 24px;
  line-height: 24px;
}
#footer .over .pageFooter .right ul li a {
  color: #646464;
  display: block;
  padding: 0px 0px 0px 0px;
}
#footer .over .pageFooter .right ul li a:hover {
  color: #669900;
}
#footer .over .pageFooter .left {
  float: left;
  margin: 35px 0 0 0;
  width: 235px;
  height: 145px;
}
#footer .over .pageFooter .left ul {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  float: left;
}
#footer .over .pageFooter .left .one li {
  width: 80px;
  text-align: center;
  margin: 0 50px 8px 0;
  line-height: 24px;
}
#footer .over .pageFooter .left .one li span {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_bottom.png) no-repeat 0px 0px;
  margin: auto;
}
#footer .over .pageFooter .left .one li a {
  color: #646464;
}
#footer .over .pageFooter .left .two {
  width: 80px;
  text-align: center;
  margin: 0 0 8px 0;
  line-height: 24px;
}
#footer .over .pageFooter .left .two li {
  width: 80px;
  text-align: center;
  margin: 0 0 8px 0;
  line-height: 24px;
}
#footer .over .pageFooter .left .two li span {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_bottom.png) no-repeat -83px 0px;
  margin: auto;
}
#footer .over .pageFooter .left .two li a {
  color: #646464;
}
#footer .bottom {
  width: 1180px;
  height: 50px;
  margin: 0px auto;
  border-top: 1px solid #E0E0E0;
  padding-top: 15px;
  position: relative;
}
#footer .bottom .kx {
  float: left;
}
#footer .bottom .kx img {
  height: 33px;
}
#footer .bottom .kxz {
  float: left;
  margin-left: 5px;
}
#footer .bottom .kxz img {
  height: 33px;
}
#footer .siteinfo {
  float: left;
  margin-left: 100px;
  padding: 0;
}
#footer .siteinfo span {
  padding-left: 13px;
}
#footer .siteinfo span a {
  color: #646464;
}
#footer .siteinfo span a:hover {
  color: #669900;
}

#side {
  right: 10px;
  left: auto;
  margin-left: 0;
  position: fixed;
  bottom: 200px;
  margin-left: 610px;
}
#side .sidec {
  width: 44px;
  height: 44px;
  position: relative;
  margin-top: 6px;
}
#side .sidec .kefu {
  background: url(../img/index_kefu.png) center center no-repeat;
  width: 44px;
  height: 44px;
  display: block;
}
#side .sidec .paid {
  background: url(../img/paid_bg.png) no-repeat -41px -182px;
  width: 44px;
  height: 44px;
  display: block;
}
#side .sidec .cart {
  background: url(../img/productList.png) no-repeat 0 -45px;
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #dadada;
}
#side .sidec .guang {
  background: url(../img/productList.png) no-repeat -42px -82px;
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #dadada;
}
#side .sidec .app {
  background: url(../img/productList.png) no-repeat -42px -40px;
  width: 42px;
  height: 42px;
  display: block;
  border: 1px solid #dadada;
  text-indent: -9999px;
  overflow: hidden;
}
#side .sidec .s-promote {
  width: 42px;
  height: 42px;
  background: url(../img/sf_new_bg.png) no-repeat 0 -27px;
  border: 1px solid #dadada;
  display: block;
  text-indent: -9999px;
}
#side .sidec .top {
  display: block;
  width: 42px;
  height: 42px;
  background: url(../img/productList.png) no-repeat 0 -82px;
  border: 1px solid #dadada;
}

/*# sourceMappingURL=list.css.map */
